extends ../../layouts/default.pug
block main 
    h1 trang san pham

    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body
            .row 
                .col-auto 
                    each item in filterStatus
                        button(
                            class=`btn btn-sm ml-1 btn-outline-success ${item.class}`
                            btn-status= item.status
                        ) #{item.name}
                .col-auto
                    form(id="search-form")
                        .input-group 
                            input(
                                type="text"
                                placeholder="Nhập từ khoá"
                                name="keyword"
                                class="form-control"
                                value= keyword
                            )

                            .input-group-appennd 
                                button(
                                    class="btn btn-success"
                                    type="submit"
                                ) Tìm



            
    .card.mb-3 
        .card-header Danh sách sản phẩm
        .card-body 
            table.table.table-hover.table-sm 
                thead 
                    tr 
                        th STT 
                        th Hình ảnh 
                        th Tiêu đề
                        th Giá
                        th Trạng thái 
                        th Hành động

                tbody 
                    each item,index in products
                        tr
                            td #{index+1}
                            td 
                                img(
                                    src = item.thumbnail
                                    alt= item.title
                                    width="100px"
                                    height="auto"
                                )
                            td #{item.title}
                            td #{item.price}$
                            td 
                                if(item.status=="active")
                                    a.badge.text-bg-success Hoạt động
                                else 
                                    a.badge.text-bg-danger  Dừng hoạt động
                                
                            td 
                                button.btn.btn-warning.btn-sm Sửa
                                button.btn.btn-danger.btn-sm.ml-1 Xoá

